@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(circle at 50% 50%, #0070f3 0%, #000 100%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
main {
  @apply w-[90%] md:w-[70%] mx-auto my-10
}
code {
  @apply text-amber-200
}

button {
  @apply px-4 py-2 bg-gray-200  rounded hover:bg-gray-50 transition-colors duration-300 cursor-pointer
}